<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav></app-nav>
            
            <div class="grid grid-cols-5 gap-3 ml-3 mt-5">
                <div class="col-span-8 mx-3 shadow-lg rounded-xl h-90">
                    <h3 class="font-bold text-right text-2xl text-blue-900 mb-4">  Total de crédito:  {{ totalCreditos | currency }}  </h3>
                    <div class="bg-blue-900">
                
                        <div class="grid grid-cols-6">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                #
                            </p> 
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                ID Cliente
                            </p> 
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Nombre
                            </p> 
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Productos
                            </p> 
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Fecha
                            </p> 
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Total
                            </p> 
                        </div>
                    </div>
                </div>
            
            </div>
            <!-- paginate: { id: 'listaCreditos',
            itemsPerPage: 20,
            currentPage: p,
            totalItems: total };-->
            <div id="listaCreditos" class="bg-white rounded mx-4"  *ngFor="let credit of credits  let i = index;" >
                  
                <ul class="grid grid-cols-6" [routerLink]="['/clientes/abonos', credit._id]" >
                    <li class="px-1 text-center p-3 font-bold text-base" >
                        {{ i +1  }}
                    </li>                    

                    <li class="px-1 text-center p-3 font-bold text-base" >
                        {{ credit.cliente.idCliente }}
                    </li> 
                    <li class=" px-2 text-center p-3 font-bold text-base" >
                        {{ credit.cliente.nombre }}
                    </li> 
                    <li class=" px-2 text-center p-3 font-bold text-base" >
                        {{ credit.productos.length }}
                    </li> 
                    <li class=" px-2 text-center p-3 font-bold text-base" >
                        {{ credit.fechaDeRegistro | date : 'short' }}
                    </li>
                    <li class=" px-2 text-center p-3 font-bold text-base" >
                        {{ credit.restante | currency  }}
                    </li> 
                
                   <!-- <pagination-controls class="my-pagination" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior" id="listaCreditos" maxSize="10" directionLinks="true" (pageChange)="p = $event">
                    </pagination-controls>  -->
                </ul>
        </div>
        </div>
    </div>
</div>
