<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav ></app-nav>

            <div class="grid grid-rows-1 mt-6 px-6">
               <app-nav-clientes></app-nav-clientes>
            </div>

            <div class="grid grid-rows-1 px-4 mt-8">
                <h4 class="font-bold text-right text-3xl mr-8 text-blue-900"> Restante:  {{ restoAbonosTotal | currency }} </h4>
                <h3 class="font-bold text-right text-2xl mr-8 text-blue-900"> Abonos: {{ totalAbonos | currency }} </h3>
                <h2 class="font-bold text-right text-2xl mr-8 text-blue-900" > Total: {{dataCredit.total | currency }}  </h2>
                <div class="grid grid-cols-12">    
                    <div class="w-2/4 fixed top-38 left-1/4 shadow-lg">
                        <div class="bg-white grid grid-rows-1 rounded">
                    
                            <div class="navTabs grid grid-rows-1 grid-cols-12 shadow-md">

                                       <!-- NAVS DE LOS PAGOS -->
                               <div class="tab-item col-span-4 border-blue-800  border-r-2  cursor-pointer " (click)="changeTab(1)"  
                                        [ngClass]="{'border-b-4': tabPage == 1, '': tabPage != 1}" >
                                   <p class="p-5 text-2xl font-bold text-center" >
                                       <a>
                                           Efectivo
                        
                                       </a>
                                   </p>
                               </div>
                        
                                <div class="tab-item col-span-4 border-blue-800" (click)="changeTab(2)" 
                                [ngClass]="{'border-b-4': tabPage == 2, '': tabPage != 2}"
                                >
                                    <p class="p-5 text-2xl font-bold text-center cursor-pointer border-blue-800 border-r-2 "> 
                        
                                       <a >
                                           Monto de la tarjeta
                        
                                       </a>
                        
                                   </p>
                               </div>
                                       
                               <div class="tab-item col-span-4 border-blue-800" (click)="changeTab(3)"
                               [ngClass]="{'border-b-4': tabPage == 3, '': tabPage != 3}"
                               >
                                   <p  class="p-5 text-2xl font-bold text-center cursor-pointer border-blue-800">
                                       Mixto
                                   </p>
                               </div>  
                           </div>
                        
                        
                        <!-- SECTIONS DE LOS PAGOS -->
                    
                            <!-- VENTA DE EFECTIVO -->
                           <div  id="efectivio"  [ngClass]="{'block': tabPage == 1, 'hidden': tabPage != 1}"  >
                        
                               <form>
                                                
                                   <div class="grid grid-rows-1 grid-cols-8 mt-2">
                               
                                       <div class="col-span-8 mr-3 ml-3 mb-2">
                                           <label class="font-bold" > Pago en efectivo  </label>
                                       </div>
                        
                                       <div class="col-span-8 mr-3 ml-3">
                                           <input type="number" 
                                               class="w-full border border-grey-300 rounded p-1"
                                               id="monto"
                                               name="monto"
                                               (blur)="validateFields()"
                                                [(ngModel)]="abono.monto"
                                               />
                                       </div>
                                  
                                   </div>
                        
                               </form>
                        
                           </div>
                        
                        
                        <!-- VENTANA DE TARJETAS -->
                           <div [ngClass]="{'block': tabPage == 2, 'hidden': tabPage != 2}" >
                        

                               <div class="grid grid-rows-1 grid-cols-8 mt-9 ">
                        
                                <div class="col-span-8 mr-3 ml-3 mb-2">
                                       <label class="font-bold" > Referencia </label>
                                   </div>
                        
                                   <div class="col-span-8 mr-3 ml-3">
                                       <input type="text" 
                                               class="w-full border border-grey-300 rounded p-1"
                                               [(ngModel)]="abono.referencia"
                                           />   
                                   </div>
                        
                                   <div class="col-span-8 mr-3 ml-3 mb-2 mt-2">
                                       <label class="font-bold" > Importe </label>
                                   </div>
                        
                                   <div class="col-span-8 mr-3 ml-3">
                                       <input type="number" 
                                            class="w-full border border-grey-300 rounded p-1"
                                            id="montoTarjeta"
                                            name="montoTarjeta"
                                            (blur)="validateFields()"
                                            [(ngModel)]="abono.montoTarjeta"
                                           />
                                   </div>
                        
                               </div>
                        
                           </div>
                        
                        
                          
                        
                            <!-- VENTANA mixta -->
                        
                               <div [ngClass]="{'block': tabPage == 3, 'hidden': tabPage != 3}" >
                                   <div class="grid grid-rows-1 grid-cols-8 mt-9 ">
                        
                                       <div class="col-span-8 mr-3 ml-3 mb-2">
                        
                                           <label class="font-bold" > Efectivo </label>
                                       </div>
                        
                                       <div class="col-span-8 mr-3 ml-3">
                                           <input type="number" 
                                                   class="w-full border border-grey-300 rounded p-1"
                                                   [(ngModel)]="abono.monto"
                                                   name="montoMixto"
                                               />
                                       </div>
                        
                                       <div class="col-span-8 mr-3 ml-3 mb-2 mt-2">
                                           <label class="font-bold" > Tarjeta </label>
                                       </div>
                        
                                       <div class="col-span-8 mr-3 ml-3">
                                           <input type="number" 
                                                   class="w-full border border-grey-300 rounded p-1"
                                                   [(ngModel)]="abono.montoTarjeta"
                                                   name="montoTarjeta"
                                                   (blur)="validateFields()"
                                               />   
                                       </div>
                             
                    
                                    </div>
                               </div>

                            <div class="grid grid-rows-1 grid-cols-12 mt-9 mb-5">
                               
                                <div class="col-span-4">

                                </div>
                                <div class="col-span-4"> 
                                    
                                    <button  
                                        type="submit"  
                                        class="rounded  p-2 text-xl text-white font-bold mt-4 w-full"
                                        [ngClass]="{'bg-gray-400': btnPagos == true,  'bg-blue-900': btnPagos == false }"
                                        [disabled]="btnPagos"
                                        (click)="addPay()"
                                    > 
                                        PAGAR 
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
        
        </div>

    </div>

 </div>

<app-alert *ngIf="showAlertSuccess" [icon]="true" title={{titleAlert}} message={{messageAlert}} ></app-alert>
<app-alert *ngIf="showAlertError" [icon]="false" title="¡Error!" message={{messageError}} ></app-alert>