<!-- <div class="grid grid-cols-9 shadow-lg">
    <div class="col-span-1" >
        <button class="bg-white w-full px-2 py-3 btn font-bold border border-r-2 rounded-l-lg"  routerLink="/clientes/registro/cliente" >
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
          </svg>
          F2 Nuevo
        </button>
   </div>
   <div class="col-span-1" >
    <button class="bg-white w-full px-2 py-3 btn font-bold border border-r-2" >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
        <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
      </svg>
      F2 Editar
    </button>
  </div>
  <div class="col-span-1" >
    <button class="bg-white w-full px-2 py-3 btn font-bold border border-r-2"  (click)="deleteClients()" [disabled]="btnDelete"  >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
      </svg>
      F4 Eliminar
    </button>
  </div>
  <div class="col-span-2" >
    <button class="bg-white w-full px-2 py-3 btn font-bold border border-r-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
        <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
        <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
      </svg>
      F5 Estado de cuenta
    </button>
  </div>
  <div class="col-span-1" >
    <button class="bg-white w-full px-2 py-3 btn font-bold border border-r-2" >
      F6 Abonos
    </button>
  </div>
  <div class="col-span-1" >
    <button class="bg-white w-full px-2 py-3 btn font-bold border border-r-2" >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm2 10a1 1 0 10-2 0v3a1 1 0 102 0v-3zm2-3a1 1 0 011 1v5a1 1 0 11-2 0v-5a1 1 0 011-1zm4-1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd" />
      </svg>
      F6 Reportes
    </button>
  </div>
  <div class="col-span-1" >
    <button class="bg-white w-full px-2 py-3 btn font-bold border border-r-2" >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
      </svg>
      F7 Liquidar
    </button>
  </div>

  <div class="col-span-1" >
    <button class="bg-white w-full py-3 btn font-bold border rounded-r-lg">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd" />
      </svg>
      F12 Importar
    </button>
  </div>

</div> -->

<ul class="list-reset flex border-b justify-center container-nav-products">
  <li class="-mb-px nav-products-item">
      <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 " routerLink="/clientes/registro/cliente">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
          </svg>
           Nuevo
      </button>
  </li>
  <!-- <li class=">
      <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
          </svg>
         Editar
      </button>
  </li> -->
  <li class="nav-products-item">
      <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 " (click)="deleteClients()" [disabled]="btnDelete">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
           Eliminar
      </button>
  </li>
  <li class="nav-products-item">
      <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900" [routerLink]="['/cuenta']">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
            <path d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
            <path fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
          </svg>                             
          Cuenta
      </button>
  </li>
  <li class="nav-products-item">
      <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 "  [routerLink]="['/abonos']" >
          <svg class="h-5 w-5 inline-block text-blue-900" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.8277 14.4445H18.1944C17.8277 9.60558 15.7444 6.60003 13.0722 4.82225L14.2888 2.16669C14.3256 2.08243 14.3409 1.99035 14.3333 1.89872C14.3258 1.80709 14.2956 1.71878 14.2455 1.64169C14.1954 1.5646 14.1269 1.50115 14.0462 1.45704C13.9656 1.41292 13.8752 1.38951 13.7833 1.38892H6.16661C6.07467 1.38951 5.98432 1.41292 5.90365 1.45704C5.82299 1.50115 5.75453 1.5646 5.70442 1.64169C5.65432 1.71878 5.62413 1.80709 5.61656 1.89872C5.60899 1.99035 5.62428 2.08243 5.66106 2.16669L6.32772 3.61114H11.9499L11.4499 4.72225H10.4222C10.7361 5.56628 10.9668 6.43893 11.1111 7.3278C11.2045 7.87918 11.2639 8.43579 11.2888 8.99447L10.4111 9.61114C10.4134 8.89255 10.354 8.17508 10.2333 7.46669C10.0798 6.5239 9.81495 5.60265 9.44439 4.72225H8.88883C8.37613 5.37006 7.91544 6.05739 7.51106 6.7778C7.18501 7.39578 6.90822 8.03851 6.68328 8.70003L5.92217 8.19447C6.14433 7.55511 6.41743 6.9346 6.73883 6.33892C7.06359 5.78033 7.41972 5.24057 7.8055 4.72225H6.83328L6.87772 4.81669C3.93328 6.7778 1.69439 10.2222 1.69439 15.9722C1.68688 16.0931 1.7034 16.2143 1.74299 16.3287C1.78257 16.4432 1.84445 16.5486 1.92503 16.639C2.00562 16.7294 2.10331 16.803 2.21248 16.8554C2.32165 16.9078 2.44012 16.9381 2.56106 16.9445H7.0055C6.81466 16.7459 6.68289 16.498 6.62496 16.2287C6.56703 15.9594 6.58522 15.6794 6.6775 15.4198C6.76977 15.1603 6.93249 14.9316 7.14742 14.7593C7.36235 14.5871 7.621 14.478 7.89439 14.4445C7.76134 14.2188 7.69042 13.962 7.68883 13.7C7.68883 13.3022 7.84687 12.9207 8.12817 12.6394C8.40948 12.3581 8.79101 12.2 9.18883 12.2H12.5222C12.92 12.2 13.3015 12.3581 13.5828 12.6394C13.8641 12.9207 14.0222 13.3022 14.0222 13.7C14.025 13.9611 13.9579 14.2182 13.8277 14.4445Z" fill="#1E3666"/>
            <path d="M12 15.8334C12 15.686 11.9415 15.5447 11.8373 15.4406C11.7331 15.3364 11.5918 15.2778 11.4444 15.2778H8.1111C7.96376 15.2778 7.82245 15.3364 7.71826 15.4406C7.61407 15.5447 7.55554 15.686 7.55554 15.8334C7.55554 15.9807 7.61407 16.122 7.71826 16.2262C7.82245 16.3304 7.96376 16.3889 8.1111 16.3889H11.4444C11.5918 16.3889 11.7331 16.3304 11.8373 16.2262C11.9415 16.122 12 15.9807 12 15.8334Z" fill="#1E3666"/>
            <path d="M12.5222 13.0555H9.18886C9.04151 13.0555 8.90021 13.1141 8.79602 13.2183C8.69183 13.3224 8.6333 13.4638 8.6333 13.6111C8.6333 13.7584 8.69183 13.8997 8.79602 14.0039C8.90021 14.1081 9.04151 14.1667 9.18886 14.1667H12.5222C12.6695 14.1667 12.8108 14.1081 12.915 14.0039C13.0192 13.8997 13.0777 13.7584 13.0777 13.6111C13.0777 13.4638 13.0192 13.3224 12.915 13.2183C12.8108 13.1141 12.6695 13.0555 12.5222 13.0555Z" fill="#1E3666"/>
            <path d="M12.2223 17.5H8.88893C8.74159 17.5 8.60028 17.5585 8.49609 17.6627C8.39191 17.7669 8.33337 17.9082 8.33337 18.0556C8.33337 18.2029 8.39191 18.3442 8.49609 18.4484C8.60028 18.5526 8.74159 18.6111 8.88893 18.6111H12.2223C12.3696 18.6111 12.5109 18.5526 12.6151 18.4484C12.7193 18.3442 12.7778 18.2029 12.7778 18.0556C12.7778 17.9082 12.7193 17.7669 12.6151 17.6627C12.5109 17.5585 12.3696 17.5 12.2223 17.5Z" fill="#1E3666"/>
            <path d="M18.1666 17.5H14.2777C14.1304 17.5 13.9891 17.5585 13.8849 17.6627C13.7807 17.7669 13.7222 17.9082 13.7222 18.0556C13.7222 18.2029 13.7807 18.3442 13.8849 18.4484C13.9891 18.5526 14.1304 18.6111 14.2777 18.6111H18.1666C18.314 18.6111 18.4553 18.5526 18.5594 18.4484C18.6636 18.3442 18.7222 18.2029 18.7222 18.0556C18.7222 17.9082 18.6636 17.7669 18.5594 17.6627C18.4553 17.5585 18.314 17.5 18.1666 17.5Z" fill="#1E3666"/>
            <path d="M18.7223 15.2778H14.8334C14.686 15.2778 14.5447 15.3364 14.4406 15.4406C14.3364 15.5447 14.2778 15.686 14.2778 15.8334C14.2778 15.9807 14.3364 16.122 14.4406 16.2262C14.5447 16.3304 14.686 16.3889 14.8334 16.3889H18.7223C18.8696 16.3889 19.0109 16.3304 19.1151 16.2262C19.2193 16.122 19.2778 15.9807 19.2778 15.8334C19.2778 15.686 19.2193 15.5447 19.1151 15.4406C19.0109 15.3364 18.8696 15.2778 18.7223 15.2778Z" fill="#1E3666"/>
          </svg>
          Abonos
      </button>
  </li>
  <li class="nav-products-item">
      <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm2 10a1 1 0 10-2 0v3a1 1 0 102 0v-3zm2-3a1 1 0 011 1v5a1 1 0 11-2 0v-5a1 1 0 011-1zm4-1a1 1 0 10-2 0v7a1 1 0 102 0V8z" clip-rule="evenodd" />
          </svg>                            
          Reportes
      </button>
  </li>
  <li class="nav-products-item">
      <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
          </svg>                              
          Liquidar
      </button>
  </li>
  <li class="nav-products-item">
      <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 ">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd" />
          </svg>
           Importar
      </button>
  </li>
</ul>

<app-alert-clients   [ngClass]="{'block': showAlert == true, 'hidden': showAlert == false}"  ></app-alert-clients>
<app-alert-top [message]="messageAlertTop" [ngClass]="{'block': showAlertTop == true, 'hidden': showAlertTop == false}" ></app-alert-top>