<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav></app-nav>
            <app-nav-users></app-nav-users>

            <div class="grid grid-rows-1">

                <div class="grid grid-cols-12" >
                    <form  class="bg-white ml-2 mr-2 col-span-12 mt-4" (ngSubmit)="sendData()">
                        <div class="text-center mb-4">
                            <div class="">
                                <p class="font-bold text-blue-900 mt-4 mb-4">INFORMACIÓN BASICA</p>
                            </div>

                            <div class="grid grid-cols-2 gap-2 ml-5 mr-5 bg bg-white">
                                <div class="p-3 rounded-xl">
                                    <div class="">
                                        <p class="font-bold text-left">Nombre: </p>
                                    </div>
                                    <div class="flex mt-2">
                                        <input type="text"  name="nombre" [(ngModel)]="dataUser.name" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                    </div>
                                </div>

                                <div class="p-3 rounded-xl">
                                    <div class="">
                                        <p class="font-bold text-left"> Teléfono: </p>
                                    </div>
                                    <div class="flex mt-2">
                                        <input type="tel" name="telefono" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" [(ngModel)]="dataUser.phone" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                    </div>
                                </div>
                            </div>

                            <div class="grid grid-cols-2 gap-2 ml-5 mr-5 bg bg-white">
                                <div class="p-3 rounded-xl">
                                    <div class="">
                                        <p class="font-bold text-left"> Email: </p>
                                    </div>
                                    <div class="flex mt-2">
                                        <input type="email" name="email" [(ngModel)]="dataUser.email" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                    </div>
                                </div>
                                <div class="p-3 rounded-xl">
                                    <div class="">
                                        <p class="font-bold text-left"> Password: </p>
                                    </div>
                                    <div class="flex mt-2">
                                        <input type="password" name="password" [(ngModel)]="dataUser.password" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                    </div>
                                </div>
                            </div>

                            <div class="grid grid-cols-2 gap-2 ml-5 mr-5 bg bg-white">
                            
                                <div class="p-3 rounded-xl">
                                    <div class="">
                                        <p class="font-bold text-left"> Sexo: </p>
                                    </div>
                                    <div class="flex mt-2">

                                        <select class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" name="genero" [(ngModel)]="dataUser.sexo">
                                            <option value="masculino"> Masculino </option>
                                            <option value="femenino"> Femenino </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-3 rounded-xl">
                                    <div class="">
                                        <p class="font-bold text-left"> Rol: </p>
                                    </div>
                                    <div class="flex mt-2">
                                        <select class="border-2 w-full p-1 border-gray-300 rounded-xl" name="rol" [(ngModel)]="dataUser.role">
                                            <option value="Select"> Select a rol</option>
                                            <option value="user"> Usuario </option>
                                            <option value="caja"> Cajas </option>
                                            <option value="admin"> Administrador </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!--  Fin de los inputs  -->


                            <!-- Modulos  -->
                            <div class="grid grid-cols-2 gap-2 ml-5 mr-5 bg bg-white">
                                <div class="p-3 rounded-xl">
                                    <div class="">
                                        <p class="font-bold text-left"> Modulos: </p>
                                    </div>
                                    <div class="flex mt-2">
                                        <select class="border-2 w-full p-1 border-gray-300 rounded-xl" name="modules" [(ngModel)]="dataUser.modules">
                                            <option value="Select"> Select an item</option>
                                        </select>
                                    </div>
                                </div>
                         
                            </div>

                            <!-- Inicio del boton de envio -->
                            <div class="grid grid-cols-1 ml-5 mr-5 mt-5 mb-10 bg bg-white">
                                <div class="grid justify-items-center mt-3">
                                    <button 
                                    class="bg-green-500 w-1/3 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-xl"
                                     >
                                        Registrar
                                    </button>
                                </div>
                            </div>
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<app-alert *ngIf="showAlertSuccess" [icon]="true" title={{titleAlert}} message={{messageAlert}} ></app-alert>
<app-alert *ngIf="showAlertError" [icon]="false" title="¡Error!" message={{messageError}} ></app-alert>