<div class="min-full">
    <div class="bg-blue-900 py-3 shadow-xl rounded">
        <h2 class="font-bold text-white text-center text-2xl"> {{ total }}.00 MXN </h2>
        <button
            [disabled]="btnDisabled"
            type="button"
            class="bg-white font-bold uppercase p-1 text-2xl text-blue-900 rounded block mx-auto mt-2 shadow-xl px-3"
            [ngClass]="{'bg-gray-500': btnDisabled === true }"
            (click)="changeRoute()"
            >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block ml-2" viewBox="0 0 20 20" fill="currentColor">
                <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
            </svg>
                 Pagar
        </button>
    </div>

    <div class="overflow-auto h-96 p-3 shadow-xl rounded">
        
        <div class="bg-white w-full p-3 mr-8 rounded-xl text-center" *ngIf="btnDisabled">Carrito vacio :(</div>

        <div class="bg-white" *ngFor="let item of allCartProducts; let i = index" >
            <div class="bg-white">
                <p class='font-bold text-left pt-3 mt-1 mb-3 pl-4 text-center'> {{ item.nombre | uppercase }} </p>
            
                <input type="number" placeholder="Cantidad" 
                    value={{item.cantidadProducto}}
                    min="1"
                    class="bg-gray-300 rounded ml-5 pl-1 mb-2  cantidad-input " 
                    (blur)="changeAmount( item._id, $event)"
                    />
                <!-- <div class="descuento" >
                    <input type="checkbox" id="descuento"  value="false" class="border-black ml-5" (change)="inputDescuento($event, i)" />
                    <label class="font-bold mt-5" for="descuento" > Aplicar descuento </label>
                </div>
                <div>
                    <input type="number" id={{i}} placeholder="Descuento..." [disabled]="isDisabled" class="bg-gray-100 rounded ml-5 pl-1 mb-2 mt-2  descuento-input "/>
                </div> -->

                <!-- <input type="text" placeholder="Monto"  class="border border-black rounded ml-4 mt-2 pl-1"/> -->
            
                <div class="container-precio">
                    <p class="font-bold pl-9 mt-2"> $ {{ item.precioVenta }}  M.X </p>
                    <button  class="text-red-500 font-bold ml-5 mt-1 mb-2" (click)="deleteItem(item._id)" >
                        Eliminar
                    </button>
                </div>
            
            
                <hr />
            </div>
        </div>
    </div>
</div>