

<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav ></app-nav>
            
            <div class="grid grid-rows-1">

                
                <div class="grid grid-cols-12">
                    
                    
                    <div class="w-2/4 fixed top-32 left-1/4 shadow-lg dashPagos">
                        <div class="bg-white grid grid-rows-1 rounded">
                    
                            <div class="navTabs grid grid-rows-1 grid-cols-8 shadow-md">
                                       <!-- NAVS DE LOS PAGOS -->
                               <div class="tab-item col-span-2 border-blue-800  border-r-2  cursor-pointer " (click)="changeTab(1)"  
                                        [ngClass]="{'border-b-4': tabPage == 1, '': tabPage != 1}" >
                                   <p class="p-5 text-2xl font-bold text-center" >
                                       <a>
                                           Efectivo
                        
                                       </a>
                                   </p>
                               </div>
                        
                                <div class="tab-item col-span-2 border-blue-800" (click)="changeTab(2)" 
                                [ngClass]="{'border-b-4': tabPage == 2, '': tabPage != 2}"
                                >
                                    <p class="p-5 text-2xl font-bold text-center cursor-pointer border-blue-800 border-r-2 "> 
                        
                                       <a >
                                           Tarjeta
                        
                                       </a>
                        
                                   </p>
                               </div>
                                       
                               <div class="tab-item col-span-2 border-blue-800" (click)="changeTab(3)"
                               [ngClass]="{'border-b-4': tabPage == 3, '': tabPage != 3}"
                               >
                                   <p  class="p-5 text-2xl font-bold text-center cursor-pointer border-blue-800 border-r-2">
                                       Plazos
                                   </p>
                               </div>
                        
                               <div class="tab-item col-span-2 border-blue-800" (click)="changeTab(4)"
                               [ngClass]="{'border-b-4': tabPage == 4, '': tabPage != 4}"
                               >
                                   <p  class="p-5 text-2xl font-bold text-center cursor-pointer ">
                                       Mixto
                                   </p>
                               </div>
                        
                               <div class="grid grid-cols-1 min-h-full" >
                        
                        
                               </div>
                        
                           </div>
                        
                        
                                            <!-- SECTIONS DE LOS PAGOS -->
                    
                            <!-- VENTA DE EFECTIVO -->
                           <div  id="efectivio"  [ngClass]="{'block': tabPage == 1, 'hidden': tabPage != 1}"  >
                        
                               <form>
                                   
                                   <div class="grid grid-rows-1 grid-cols-8 mt-9 ">
                               
                                       <div class="col-span-8 mr-3 ml-3 mb-2">
                                           <label class="font-bold" > Nombre completo </label>
                                       </div>
                        
                                       <div class="col-span-8 mr-3 ml-3">
                                           <input type="text" 
                                               class="w-full border border-grey-300 rounded p-1"
                                               id="nombre"
                                               name="nombre"
                                               [(ngModel)]="sells.cliente"
                                               />
                                       </div>
                                     
                                   </div>
                        
                        
                                   <div class="grid grid-rows-1 grid-cols-8 mt-2">
                               
                                       <div class="col-span-8 mr-3 ml-3 mb-2">
                                           <label class="font-bold" > Pago en efectivo  </label>
                                       </div>
                        
                                       <div class="col-span-8 mr-3 ml-3">
                                           <input type="text" 
                                               class="w-full border border-grey-300 rounded p-1"
                                               id="monto"
                                               name="monto"
                                               [(ngModel)]="sells.monto"
                                               (blur)="calcTotal()"
                                               />
                                       </div>
                                  
                                   </div>
                        
                               </form>
                        
                           </div>
                        
                        
                        <!-- VENTANA DE TARJETAS -->
                           <div [ngClass]="{'block': tabPage == 2, 'hidden': tabPage != 2}" >
                        

                               <div class="grid grid-rows-1 grid-cols-8 mt-9 ">

                                <div class="col-span-8 mr-3 ml-3 mb-2">
                                    <label class="font-bold" > Cliente </label>
                                </div>

                                <div class="col-span-8 mr-3 ml-3">
                                    <input type="text" 
                                            class="w-full border border-grey-300 rounded p-1"
                                            [(ngModel)]="sells.cliente"
                                        />
                                </div>
                        
                                <div class="col-span-8 mr-3 ml-3 mb-2">
                                       <label class="font-bold" > Referencia </label>
                                   </div>
                        
                                   <div class="col-span-8 mr-3 ml-3">
                                       <input type="text" 
                                               class="w-full border border-grey-300 rounded p-1"
                                               [(ngModel)]="sells.referencia"
                                           />
                                   </div>
                        
                                   <div class="col-span-8 mr-3 ml-3 mb-2 mt-2">
                                       <label class="font-bold" > Importe </label>
                                   </div>
                        
                                   <div class="col-span-8 mr-3 ml-3">
                                       <input type="text" 
                                               class="w-full border border-grey-300 rounded p-1"
                                               [(ngModel)]="sells.montoTarjeta"
                                               (blur)="calcTotal()"
                                           />
                                   </div>
                        
                               </div>
                        
                           </div>
                        
                        
                          
                        
                            <!-- VENTANA mixta -->
                        
                               <div [ngClass]="{'block': tabPage == 4, 'hidden': tabPage != 4}" >
                                   <div class="grid grid-rows-1 grid-cols-8 mt-9 ">

                                    <div class="col-span-8 mr-3 ml-3 mb-2">
                                        <label class="font-bold" > Cliente </label>
                                    </div>
    
                                    <div class="col-span-8 mr-3 ml-3">
                                        <input type="text" 
                                                class="w-full border border-grey-300 rounded p-1"
                                                [(ngModel)]="sells.cliente"
                                            />
                                    </div>
                        
                                       <div class="col-span-8 mr-3 ml-3 mb-2">
                        
                                           <label class="font-bold" > Efectivo </label>
                                       </div>
                        
                                       <div class="col-span-8 mr-3 ml-3">
                                           <input type="number" 
                                                   class="w-full border border-grey-300 rounded p-1"
                                                   [(ngModel)]="sells.monto"
                                                   (blur)="calcTotal()"
                                               />
                                       </div>
                        
                                       <div class="col-span-8 mr-3 ml-3 mb-2 mt-2">
                                           <label class="font-bold" > Tarjeta </label>
                                       </div>
                        
                                       <div class="col-span-8 mr-3 ml-3">
                                           <input type="number" 
                                                   class="w-full border border-grey-300 rounded p-1"
                                                   [(ngModel)]="sells.montoTarjeta"
                                                   (blur)="calcTotal()"
                                               
                                               />
                                       </div>
                                   </div>
                    
                               </div>
                               


                               <!--  VENTA A PLAZOS -->
                               <div class="mt-9 pb-4 px-4" [ngClass]="{'block': tabPage == 3, 'hidden': tabPage != 3}">

                                <div class="bg-white shadow-lg rounded grid grid-rows-1 grid-cols-12">
                                    <div class="grid col-span-12">
                                        <label class="font-bold mb-2" >
                                            Anticipo
                                        </label>
                                        <input 
                                            type="number" 
                                            class="border rounded mb-4 px-2" 
                                            [(ngModel)]="credits.anticipo"
                                        />
                                    </div>
                                </div>

                                    <div class="bg-blue-900 shadow-lg rounded grid grid-rows-1 grid-cols-12">
                                        <div class="grid col-span-1">
                                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                            </p> 
                                        </div>
                                            <div class="grid col-span-2">
                                                <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                                    ID
                                                </p> 
                                            </div>
                                            <div class="grid col-span-4">
                                                <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                                    Nombre
                                                </p> 
                                            </div>
                                            <div class="grid col-span-3">
                                                <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                                    Credito
                                                </p> 
                                            </div>
                                            <div class="grid col-span-2">
                                                <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                                    Disponibilidad
                                                </p> 
                                            </div>
                                    </div>
                                    <div class="bg-white rounded grid grid-rows-1 grid-cols-12"  *ngFor="let cliente of clientes" >

                                        <div class="grid col-span-1">
                                            <p class=" px-2 text-center p-3 font-bold text-base" >
                                                <input type="checkbox"
                                                    (click)="agregarCliente( cliente )"
                                                >
                                            
                                            </p> 
                                        </div>
                                            <div class="grid col-span-2">
                                                <p class="px-1 text-center p-3 font-bold text-base" >
                                                    {{ cliente.idCliente }}
                                                </p> 
                                            </div>
                                            <div class="grid col-span-4">
                                                <p class=" px-2 text-center p-3 font-bold text-base" >
                                                    {{ cliente.nombre }}
                                                </p> 
                                            </div>
                                            <div class="grid col-span-3">
                                                <p class=" px-2 text-center p-3 font-bold text-base" >
                                                    Credito
                                                </p> 
                                            </div>
                                            <div class="grid col-span-2">
                                                <p class=" px-2 text-center p-3 font-bold text-base" >
                                                    Credito
                                                </p> 
                                            </div>

                                    </div>
                               </div>
                            <div class="grid grid-rows-1 grid-cols-8 mt-9 mb-5">
                               
                                <div class="col-span-4"> </div>
                                    <div class="col-span-4">
                                        <h3 class="font-bold text-2xl"  >  TOTAL:  {{ totalRest  | currency }}   </h3>
                                        <h4 class="font-bold text-xl"  > IVA: {{ iva | currency }} </h4>
                                        <h5   *ngIf="tabPage !== 4"  class="font-bold text-xl"  >  SU CAMBIO: {{ cambio | currency   }} </h5>
                                        
                                        <div class="containerButtons">
                                            <div class="btnPrintTicket">
                                                <button class="btnPirntTicket bg-white font-bold uppercsae sahdow-xl uppercase" (click)="printTickets()" > Impirmir ticket </button>
                                            </div>
                                            <button  
                                                type="submit"  
                                                class="rounded  p-2 text-xl text-white font-bold mt-4 w-1/3"
                                                (click)="postSells()"
                                                [disabled]="carrito1.total == 0"
                                                [ngClass]="{'bg-gray-400': btnPagos == true,  'bg-blue-900': btnPagos == false }"
                                                [disabled]="btnPagos"
                                            > 
                                                PAGAR 
                                            </button>
                                        </div>
                            
                                </div>
                         </div> 
                        </div>
                    </div>
                   
                </div>
                <div class="fixed top-36 carrito-side dashPagosCart" >

                    <app-carrito ></app-carrito>
                </div>
            </div>
        </div>
    </div>
</div>

<app-alert  
            [message]="'Venta realizada'"
            [ngClass]="{'block': alertOk == true, 'hidden': alertOk == false}"
            >
</app-alert>