.carrito-side{
    width: 19%;
}

.top-36{
    right: 1.5rem;
}

.left-1\/4 {
    left: 20%;
}


.dashPagos{
    margin-top:50px;
}

.dashPagosCart{
    margin-top: 30px;
}

.btnPirntTicket{
    display: block;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
}

.containerButtons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: -63%;
}