<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
           
            <app-nav ></app-nav>

            <div class="grid grid-rows-1 px-4 mt-20">

                <div  class="bg-blue-900 rounded-t-lg">
                    
                    <div class="grid grid-cols-12">
                        
                        <div class="grid col-span-1">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                            </p>

                        </div>


                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                ID cliente
                            </p>

                        </div>

                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Nombre
                            </p>

                        </div>


                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Edad
                            </p>

                        </div>

                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Correo
                            </p>

                        </div>


                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Crèdito
                            </p>

                        </div>


                    </div>

                
                </div>
            </div>
            <div class="grid grid-rows-1">
                <div class="bg-white mx-4 grid grid-cols-12">
                    <div class="grid col-span-1">
                        <p class="px-2 text-center p-3 font-bold text-base" >
                            <input type="checkbox" />
                        </p>
    
                    </div>
    
                </div>

            </div>
        </div>
            
    </div>
</div>