
<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav ></app-nav>
            
            <div class="grid grid-rows-1 px-4 mt-20">

                    <div  class="bg-blue-900 rounded-t-lg">
                
                        <div class="grid grid-cols-5">
        
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                            </p> 
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                
                                # Venta
                            </p>
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Fecha
                            </p>
                            
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Cliente
                            </p>
                            
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Total de venta
                            </p>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="bg-white ml-8 col-span-9">
                    
                    <div class="grid grid-cols-7" *ngFor="let item of products" >
                        <p class="px-2 text-center p-3 font-bold text-base" > 
                            
                            <input type="checkbox">
                        </p>

                    <p class="px-2 text-center p-3 font-bold text-base" > 
                        {{ item }}
                    </p>
                    <p class="px-2 text-center p-3 font-bold text-base" > 
                        {{ item }}
                    </p>
                    <p class="px-2 text-center p-3 font-bold text-base" > 
                        {{ item }}
                    </p>
                    <p class="px-2 text-center p-3 font-bold text-base" > 
                        {{ item }}
                    </p>
                    <p class="px-2 text-center p-3 font-bold text-base" > 
                        {{ item }}
                    </p>
                    <p class="px-2 text-center p-3 font-bold text-base" > 
                        {{ item }}
                    </p>
                </div>
            </div>
        </div>

    </div>  

</div>