
<!-- <section class="bg-gray-700 fixed top-0 w-full h-full" > 
   
    <div  class="top-4" >
        <div class="bg-white w-2/5 h-2/5 fixed top-1/3 left-1/3 shadow-2xl">
            <h2 class="text-3xl font-bold h-2/5 mt-20  text-center">
                    {{ message }}
            </h2>
            <button class="bg-blue-900 text-2xl font-bold p-2 text-white rounded ml-96 mt-28 w-1/3">
                Cerrar
            </button>
        </div>

    </div>
    
</section> -->

<!-- component -->
<div class="min-w-screen h-screen animated fadeIn faster  fixed  left-0 top-0 flex justify-center items-center inset-0 z-50 outline-none focus:outline-none"  style="background: rgba(0,0,0,.2);" id="modal-id">
    <div class="w-full  max-w-lg p-5 relative mx-auto my-auto rounded-xl shadow-lg  bg-white ">
      <div class="">
        <div class="text-center p-5 flex-auto justify-center">
            
            <div *ngIf="icon; else elseBlock">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16 flex items-center text-green-500 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </div>
            <ng-template #elseBlock>
                <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16 flex items-center text-yellow-500 mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
            </ng-template>
            <h2 class="text-xl font-bold py-4 ">{{ title }}</h2>
            <p class="text-sm text-gray-500 px-8">{{ message }}</p>    
        </div>
        <div class="p-3  mt-2 text-center space-x-4 md:block">
            <button 
                class="mb-2 md:mb-0 bg-white px-5 py-2 text-sm shadow-sm font-medium tracking-wider border text-gray-600 rounded-full hover:shadow-lg hover:bg-gray-100"
                (click)="hiddeAlert()">
                Aceptar
            </button>
            <!-- <button class="mb-2 md:mb-0 bg-red-500 border border-red-500 px-5 py-2 text-sm shadow-sm font-medium tracking-wider text-white rounded-full hover:shadow-lg hover:bg-red-600">
                Delete
            </button> -->
        </div>
      </div>
    </div>
</div>
