<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav></app-nav>
            <div class="grid grid-rows-1">

                <div class="grid grid-cols-12" >
                    
                    <form [formGroup]="clientForm" class="bg-white ml-10 mr-10 col-span-12 mt-6" (ngSubmit)="addClient()">
                        
                        <!-- Formulario -->
                        <div class="grid  ml-5 mr-5 mt-5 bg bg-white">
                            <!-- <div class="grid p-3 flex flex-wrap content-center rounded-xl relative">
                                <div class="text-center mb-4">
                                    <div class="">
                                    </div>
                                </div>
                                 <div class="bg-gray-300 justify-self-center rounded-full p-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-32 w-32 text-gray-100" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="absolute bottom-0 right-10 bg bg-blue-900 rounded-full p-2">
                                    <svg class="h-9 w-9 text-white" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-100" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
                                    </svg>                                                 
                                </div> 
                            </div> -->
                            <div class="p-3 rounded-xl">
                                <div class="text-right container-header">
                                    <div class="container-title">
                                        <p class="font-bold text-blue-900">INFORMACIÓN BASICA</p>

                                    </div>
                                    <div class="container-date">
                                        <p class="inline-block font-bold">Fecha:</p>
                                        <p class="inline-block mt-2 ml-1">{{ dateNow }}</p>
                                    </div>
                                </div>
                                <div class="mt-1">
                                    <p class="font-bold">ID Cliente</p>
                                </div>
                                <div class="flex">
                                    <input type="text" formControlName="idCliente" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="idCliente?.invalid && (idCliente?.dirty || idCliente?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold">ID Obligatorio</strong>
                                </div>

                                <div class="mt-3">
                                    <p class="font-bold">Nombre completo</p>
                                </div>
                                <div class="flex mt-1">
                                    <input type="text" formControlName="nombre" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold">Nombre Obligatorio</strong>
                                </div>
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-3 ml-5 mr-5 bg bg-white">
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Telefono</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="telefono" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="telefono?.invalid && (telefono?.dirty || telefono?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <div *ngIf="telefono?.errors?.required">
                                        <strong class="font-bold">Telefono Obligatorio</strong>
                                    </div>
                                    <div *ngIf="telefono?.errors?.minlength">
                                        <strong class="font-bold" >Debe tener 10 digitos</strong>
                                    </div>
                                    <div *ngIf="telefono?.errors?.maxlength">
                                        <strong class="font-bold" >Debe tener 10 digitos</strong>
                                    </div>
                                    <div *ngIf="telefono?.errors?.pattern">
                                        <strong class="font-bold">Solo numeros</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Correo</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="correo" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="correo?.errors?.required">Correo Obligatorio</strong>
                                    <strong class="font-bold" *ngIf="(correo?.dirty || correo?.touched) && correo?.invalid && correo?.errors?.pattern">Correo Incorrecto</strong>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Calle</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="calle" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="calle?.invalid && (calle?.dirty || calle?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="calle?.errors?.required">Información Obligatoria</strong>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Codigo postal</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="codigoPostal" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="codigoPostal?.invalid && (codigoPostal?.dirty || codigoPostal?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <div *ngIf="codigoPostal?.errors?.required">
                                        <strong class="font-bold">Información Obligatoria</strong>
                                    </div>
                                    <div *ngIf="codigoPostal?.errors?.minlength">
                                        <strong class="font-bold" >Debe tener 5 digitos</strong>
                                    </div>
                                    <div *ngIf="codigoPostal?.errors?.maxlength">
                                        <strong class="font-bold">Debe tener 5 digitos</strong>
                                    </div>
                                    <div *ngIf="codigoPostal?.errors?.pattern">
                                        <strong class="font-bold">Solo numeros</strong>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Colonia / Poblado</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="colonia" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="colonia?.invalid && (colonia?.dirty || colonia?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="colonia?.errors?.required">Información Obligatoria</strong>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Municipio / Estado</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="municipio" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="municipio?.invalid && (municipio?.dirty || municipio?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="municipio?.errors?.required">Información Obligatorio</strong>
                                </div>
                            </div> -->
                        </div>

                        <div class="grid grid-cols-1 gap-3 ml-5 mr-5 bg bg-white">
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Notas</p>
                                </div>
                                <div class="flex mt-2">
                                    <textarea type="text" formControlName="notas" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl"></textarea>
                                </div>
                                <div *ngIf="notas?.invalid && (notas?.dirty || notas?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="notas?.errors?.required">Información Obligatorio</strong>
                                </div>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 ml-5 mr-5 bg bg-white">
                            <div class="p-3">
                                <p class="font-bold text-blue-900">CRÉDITO</p>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-3 ml-5 mr-5 bg bg-white">
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Folio</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="folio" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="folio?.invalid && (folio?.dirty || folio?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="folio?.errors?.required">Información Obligatorio</strong>
                                    <strong class="font-bold" *ngIf="folio?.errors?.pattern">Solo numeros</strong>
                                </div>
                            </div>
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Limite de credito</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="number" formControlName="limiteCredito" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="limiteCredito?.invalid && (limiteCredito?.dirty || limiteCredito?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="limiteCredito?.errors?.required">Información Obligatorio</strong>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="grid grid-cols-1 ml-5 mr-5 bg bg-white">
                            <div class="p-3">
                                <p class="font-bold text-blue-900">DATOS DE FACTURACIÓN</p>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-3 ml-5 mr-5 bg bg-white">
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">RFC</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="RFC" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="RFC?.invalid && (RFC?.dirty || RFC?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="RFC?.errors?.required">Información Obligatorio</strong>
                                </div>
                            </div>
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Razón social</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="razonSocialFacturacion" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="razonSocialFacturacion?.invalid && (razonSocialFacturacion?.dirty || razonSocialFacturacion?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="razonSocialFacturacion?.errors?.required">Información Obligatorio</strong>
                                </div>
                            </div>
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Correo</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="correoFacturacion" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="correoFacturacion?.invalid && (correoFacturacion?.dirty || correoFacturacion?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="correoFacturacion?.errors?.required">Correo Obligatorio</strong>
                                    <strong class="font-bold" *ngIf="(correoFacturacion?.dirty || correoFacturacion?.touched) && correoFacturacion?.invalid && correoFacturacion?.errors?.pattern">Correo Incorrecto</strong>
                                </div>
                            </div>
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Calle</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="calleFacturacion" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="calleFacturacion?.invalid && (calleFacturacion?.dirty || calleFacturacion?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="calleFacturacion?.errors?.required">Información Obligatorio</strong>
                                </div>
                            </div>
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Colonia / Poblado</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="coloniaFacturacion" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="coloniaFacturacion?.invalid && (coloniaFacturacion?.dirty || coloniaFacturacion?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="coloniaFacturacion?.errors?.required">Información Obligatorio</strong>
                                </div>
                            </div>
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Municipio / Estado</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="municipioFacturacion" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="municipioFacturacion?.invalid && (municipioFacturacion?.dirty || municipioFacturacion?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="municipioFacturacion?.errors?.required">Información Obligatorio</strong>
                                </div>
                            </div>
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Codigo postal</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="codigoPostalFacturacion" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="codigoPostalFacturacion?.invalid && (codigoPostalFacturacion?.dirty || codigoPostalFacturacion?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <div *ngIf="codigoPostalFacturacion?.errors?.required">
                                        <strong class="font-bold">Información Obligatorio</strong>
                                    </div>
                                    <div *ngIf="codigoPostalFacturacion?.errors?.minlength">
                                        <strong class="font-bold">Debe tener 5 digitos</strong>
                                    </div>
                                    <div *ngIf="codigoPostalFacturacion?.errors?.maxlength">
                                        <strong class="font-bold">Debe tener 5 digitos</strong><br>
                                    </div>
                                    <div *ngIf="codigoPostalFacturacion?.errors?.pattern">
                                        <strong class="font-bold">Solo numeros</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Notas</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="notasFacturacion" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="notasFacturacion?.invalid && (notasFacturacion?.dirty || notasFacturacion?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold" *ngIf="notasFacturacion?.errors?.required">Información Obligatorio</strong>
                                </div>
                            </div>
                        </div> -->

                        <!-- BOTON DE AGREGAR -->
                        <div class="grid grid-cols-1 ml-5 mr-5 mb-10 bg bg-white">
                            <div class="grid justify-items-center mt-3">
                                <button 
                                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 button"
                                 >
                                    {{ buttonName }}
                                </button>
                            </div>
                        </div>

                        <app-alert *ngIf="showAlertSuccess" [icon]="true" title={{titleAlert}} message={{messageAlert}} ></app-alert>

                        <app-alert *ngIf="showAlertError" [icon]="false" title="¡Error!" message="Ingresa la información que se pide..." ></app-alert>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
