<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav></app-nav>
            <app-nav-users></app-nav-users>
        
            <div class="grid grid-rows-1 px-4 mt-20">

                <div  class="bg-blue-900 rounded-t-lg">
                    
                    <div class="grid grid-cols-9">
                        
                        <div class="grid col-span-1">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                
                            </p>
                        </div>
                        <div class="grid col-span-1">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                #
                            </p>
                        </div>


                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                ID Usuario
                            </p>

                        </div>

                        <div class="grid col-span-1">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Nombre
                            </p>

                        </div>


                        <div class="grid col-span-1">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Género
                            </p>

                        </div>

                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Correo
                            </p>

                        </div>


                        <div class="grid col-span-1">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Rol
                            </p>

                        </div>
                    </div>
                    <!-- Fin del thead -->
                </div>
                      <!-- Inicio del tbody -->
                      <div class="grid grid-cols-9 bg-white"  *ngFor="let user of users; let i = index" >  
                        
                        <div class="grid col-span-1">

                            <div class="grid col-span-1 mt-1">
                                <input type="checkbox" class="m-auto"  (click)="agregarUsuario($event, user._id)" />
                            </div>  
                        </div>
                        <div class="grid col-span-1">
                            <p class="px-2 text-center p-3 font-bold text-base" >
                                {{ i +1 }}
                            </p>
                        </div>

                        <div class="grid col-span-2">
                            <p class="px-2 text-center p-3 font-bold text-base" >
                                {{ user._id }}
                            </p>

                        </div>

                        <div class="grid col-span-1">
                            <p class="px-2 text-center p-3 font-bold text-base cursor-pointer"  [routerLink]="['/editar/usuario', user._id]" >
                                {{ user.name }}
                            </p>

                        </div>


                        <div class="grid col-span-1">
                            <p class="px-2 text-center p-3 font-bold text-base" >
                                {{ user.sexo | uppercase }}
                            </p>

                        </div>

                        <div class="grid col-span-2">
                            <p class="px-2 text-center p-3 font-bold text-base" >
                                {{ user.email }}
                            </p>

                        </div>


                        <div class="grid col-span-1">
                            <p class="px-2 text-center p-3 font-bold text-base" >
                                {{ user.role | uppercase }}
                            </p>

                        </div>
                    </div>
            </div>
            
        </div>

    </div>
</div>

