
<div class="bg-white w-full mt-8 p-6 shadow-2xl rounded">

    <div class="grid grid-rows-1 grid-cols-5 mt-4">
        <div class="grid col-span-5">
            <h5 class="text-4xl mb-2 text-center">
                {{ message}}
            </h5>
        </div>
    </div>
</div>
