<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav></app-nav>

            <app-nav-products></app-nav-products>
            
            <div class="grid grid-cols-11 gap-3 ml-3 mt-5">
                <div class="col-span-8 p-3 rounded-xl h-90">
                    <div class="bg-blue-900 rounded">
                
                        <div class="grid grid-cols-7">
        
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Código
                            </p> 
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Nombre
                            </p>
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Descripción
                            </p>
        
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Familia
                            </p>
        
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Disponibles
                            </p>
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Precio venta
                            </p>
        
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Precio mayoreo
                            </p>
        
                        </div>
                    </div>

                    <div class="bg-white grid grid-cols-7" *ngFor="let item of allCartProducts" >
                        <p class="px-2 text-center p-3 font-bold text-base" > 
                            {{  item.idProducto }}
                        </p>

                        <p class="px-2 text-center p-3 font-bold text-base" > 
                            {{ item.nombre }}
                        </p>
                        <p class="px-2 text-center p-3 font-bold text-base" > 
                            {{ item.descripcion }}
                        </p>
                        <p class="px-2 text-center p-3 font-bold text-base" > 
                            {{ item.familia }}
                        </p>
                        <p class="px-2 text-center p-3 font-bold text-base" > 
                            {{ item.cantidad }}
                        </p>
                        <p class="px-2 text-center p-3 font-bold text-base" > 
                            {{ item.precioVenta }}
                        </p>
                        <p class="px-2 text-center p-3 font-bold text-base" > 
                            {{ item.precioMayoreo }}
                        </p>
                    </div>

                    <div class="bg-white text-center p-3" *ngIf="showMessageData">No hay datos para mostrar :(</div>
                </div>

                <div class="col-span-3 h-full p-3 rounded-xl">
                    <app-carrito></app-carrito>
                </div>

            </div>
            
        </div>
    </div>
</div>
<!-- incia el componente de alertas -->
<app-alert [ngClass]="{'hidden': showAlert === false}" ></app-alert>