<div class="bg-white w-full mt-4 p-6 shadow-2xl">

    <div class="grid grid-rows-1 grid-cols-5 mt-4">
        <div class="grid col-span-3">
            <h5 class="text-3xl mb-2 text-center">
                ¿Deseas eliminar este cliente?
            </h5>
        </div>

        <div class="grid cols-span-1">
            <button class="rounded w-3/4 bg-green-700  text-white"  (click)="confirmDelete()"  >
                Aceptar
            </button>
        </div>

        <div class="grid cols-span-1">
                
            <button class="rounded w-3/4 bg-red-700 text-white mr-2" (click)="cancelDelete()">
                Cancelar
            </button>  
        </div>
    </div>
</div>