<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav></app-nav>
            <div class="grid grid-rows-1">
                <app-nav-products></app-nav-products>

                <div class="grid grid-cols-12" >

                    <form [formGroup]="productForm" (ngSubmit)="addProduct()" class="bg-white ml-10 mr-10 col-span-12 mt-6">

                        <!-- Formulario -->
                        <div class="grid grid-cols-1  ml-5 mr-5 mt-5 bg bg-white">
                            <!-- <div class="grid p-3 flex flex-wrap content-center rounded-xl relative">
                                <div class="bg-gray-300 justify-self-center rounded-full p-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-32 w-32 text-gray-100" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
                                    </svg>
                                </div>
                                <div class="absolute bottom-0 right-10 bg bg-blue-900 rounded-full p-2">
                                    <svg class="h-9 w-9 text-white" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-gray-100" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
                                    </svg>                                                 
                                </div>
                            </div> -->
                            <div class="p-3 rounded-xl">
                                <div class="container-date-title">
                                    <div class="mt-1">
                                        <p class="font-bold font-bold-title">Fecha: </p>
                                        <p class="font-bold font-bold-title">{{ dateNow }}</p>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <p class="font-bold">ID del producto</p>
                                </div>
                                <div class="flex mt-1">
                                    <input type="text" formControlName="idProducto" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="idProducto?.invalid && (idProducto?.dirty || idProducto?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold">ID Obligatorio</strong>
                                </div>
                            </div>
                        </div>
    
                        <div class="grid grid-cols-1 gap-3 ml-5 mr-5 bg bg-white">
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Nombre del producto:</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="nombre" placeholder="Nombre del producto..." class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold">Información obligatoria</strong>
                                </div>
                            </div>
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Descripción</p>
                                </div>
                                <div class="flex mt-2">
                                    <textarea type="text" formControlName="descripcion" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl"></textarea>
                                </div>
                                <div *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold">Información obligatoria</strong>
                                </div>
                            </div>
                        </div>
    
                        <div class="grid grid-cols-2 gap-3 ml-5 mr-5 bg bg-white">
                            <div class="p-3 rounded-xl">
                                <div class="">
                                    <p class="font-bold">Se vende por</p>
                                </div>
                                <div class="flex mt-2">
                                    <select formControlName="seVendePor" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl">
                                        <option value="" selected>Seleccione...</option>
                                        <option value="Piezas">Piezas</option>
                                        <option value="Paquetes">Paquetes</option>
                                    </select>
                                </div>
                                <div *ngIf="seVendePor?.invalid && (seVendePor?.dirty || seVendePor?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold">Debe seleccionar una opción</strong>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Precio costo</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="number" formControlName="precioCosto" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="precioCosto?.invalid && (precioCosto?.dirty || precioCosto?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <div *ngIf="precioCosto?.errors?.required">
                                        <strong class="font-bold">Información Obligatorio</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Precio venta</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="number" formControlName="precioVenta" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="precioVenta?.invalid && (precioVenta?.dirty || precioVenta?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <div *ngIf="precioVenta?.errors?.required">
                                        <strong class="font-bold">Información Obligatorio</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="flex justify-between">
                                    <p class="font-bold">Familias</p>
                                    <p class="font-bold text-green-500">Administrar familias</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="text" formControlName="familia" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="familia?.invalid && (familia?.dirty || familia?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <strong class="font-bold">Información Obligatorio</strong>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Precio mayoreo</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="number" formControlName="precioMayoreo" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="precioMayoreo?.invalid && (precioMayoreo?.dirty || precioMayoreo?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <div *ngIf="precioMayoreo?.errors?.required">
                                        <strong class="font-bold">Información Obligatorio</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Cantidad minima de producto</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="number" formControlName="cantidadMinima" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="cantidadMinima?.invalid && (cantidadMinima?.dirty || cantidadMinima?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <div *ngIf="cantidadMinima?.errors?.required">
                                        <strong class="font-bold">Información Obligatorio</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="">
                                    <p class="font-bold">Cantidad actual de producto</p>
                                </div>
                                <div class="flex mt-2">
                                    <input type="number" formControlName="cantidadActual" placeholder="" class="flex-grow border-2 border-gray-300 py-1 px-2 transition-all rounded-xl" />
                                </div>
                                <div *ngIf="cantidadActual?.invalid && (cantidadActual?.dirty || cantidadActual?.touched)" class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded-xl relative" role="alert">
                                    <div *ngIf="cantidadActual?.errors?.required">
                                        <strong class="font-bold">Información Obligatorio</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- BOTON -->
                        <div class="grid grid-cols-1 gap-3 ml-5 mr-5 mb-5 bg bg-white">
                            <div class="grid justify-items-center mt-3">
                                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-xl btn-agregar-producto">
                                    AGREGAR
                                </button>
                            </div>
                        </div>

                        <app-alert *ngIf="showAlertSuccess" [icon]="true" title="¡Registrado!" message="El producto ha sido registrado..." ></app-alert>

                        <app-alert *ngIf="showAlertError" [icon]="false" title="¡Error!" message="Ingresa la información que se pide..." ></app-alert>

                    </form>
                    

                </div>
            </div>
        </div>
    </div>
</div>

