<aside class="min-h-screen h-full bg-white p-2 shadow-2xl" >
    <div class="m-auto">
        <a [routerLink]="['/ventas/productos']">
            <img class="m-auto" src="../../../assets/img/logo.png" />

        </a>
    </div>
    <div class="mt-3"  > 
        <img src="../../../assets/img/profile.png" class="rounded-full p-5" />
        <p class="text-center mt-2 font-bold">
            {{ user.name | uppercase }} {{ user.lastName | uppercase }}
        </p>
    </div>

    <div class="mt-2" >
        <ul>
            <li
            class="cursor-pointer p-1"
            [routerLink]="['/products/list']"
            routerLinkActive="bg-gray-400 rounded p-1 text-gray-500"
            >
             <svg xmlns="http://www.w3.org/2000/svg" class="h-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13 7H7v6h6V7z" />
                <path fill-rule="evenodd" d="M7 2a1 1 0 012 0v1h2V2a1 1 0 112 0v1h2a2 2 0 012 2v2h1a1 1 0 110 2h-1v2h1a1 1 0 110 2h-1v2a2 2 0 01-2 2h-2v1a1 1 0 11-2 0v-1H9v1a1 1 0 11-2 0v-1H5a2 2 0 01-2-2v-2H2a1 1 0 110-2h1V9H2a1 1 0 010-2h1V5a2 2 0 012-2h2V2zM5 5h10v10H5V5z" clip-rule="evenodd" />
              </svg>
               
                Productos
            </li>
            <li 
            *ngIf="user.role == 'admin'"
            class="cursor-pointer mt-1 p-1"
            [routerLink]="['/ventas/productos']"
            routerLinkActive="bg-gray-400 rounded p-1 text-gray-500"
            >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
                <path d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z" />
              </svg>
               
                Ventas
            </li>
            <li 
            class=" mt-1 cursor-pointer p-1"
            [routerLink]="['/clientes/list']"
            routerLinkActive="bg-gray-400 rounded text-gray-500"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
                  </svg>
                  
                Clientes
            </li>
            <li 
            class=" mt-1 cursor-pointer p-1"
            [routerLink]="['/usuarios']"
            routerLinkActive="bg-gray-400 rounded text-gray-500"
            >

            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
              </svg>
                  
                  Usuarios
            </li>
        </ul>
    </div>
         
 </aside>