.container-nav-products{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.nav-products-item{
    width: 16%;
    cursor: pointer;
}
.nav-products-item > button{
    width: 100%;
}
.nav-products-item:hover{
    border-right: 2px solid black;
}