<ul class="list-reset flex border-b bg-white justify-center mt-1 container-nav-products">
    <li class="-mb-px mr-2 nav-products-item">
        <button class="inline-block py-3 px-3 font-bold text-blue-900" routerLink="/productos/registro/producto">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
            </svg>
            Nuevo
        </button>
    </li>
  <!--  <li class="mr-2 nav-products-item">
        <button class="inline-block py-3 px-3 font-bold text-blue-900" routerLink="/productos/editar/producto/:id" >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
              <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
              <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
            </svg>
             Editar
        </button>
    </li> -->
    <li class="mr-2 nav-products-item">
        <button class="inline-block py-3 px-3 font-bold text-blue-900" (click)="productsWillDelete()" >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
             Eliminar
        </button>
    </li>
    <li class="mr-2 nav-products-item">
        <button class="inline-block py-3 px-3 font-bold text-blue-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900 mb-1" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
              </svg>
            Familias 
        </button>
    </li>
    <li class="mr-2 nav-products-item">
        <button class="inline-block py-3 px-3 font-bold text-blue-900" >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900 mb-1" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M3 6a3 3 0 013-3h10a1 1 0 01.8 1.6L14.25 8l2.55 3.4A1 1 0 0116 13H6a1 1 0 00-1 1v3a1 1 0 11-2 0V6z" clip-rule="evenodd" />
              </svg>
            Promociones
        </button>   
    </li>
    <li class="mr-2 nav-products-item">
        <button class="inline-block py-3 px-3 font-bold text-blue-900">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900 mb-1" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9 2a2 2 0 00-2 2v8a2 2 0 002 2h6a2 2 0 002-2V6.414A2 2 0 0016.414 5L14 2.586A2 2 0 0012.586 2H9z" />
                <path d="M3 8a2 2 0 012-2v10h8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z" />
              </svg>
              Catálogo
        </button>
    </li>
  </ul>
  