

<div class="grid grid-rows-1">
    <section class="grid grid-cols-12" >
       
        <div class="col-span-6 img-login" >
            <img class="h-screen " src="../../../assets/img/motor.jpg" />

        </div>

        <div class="col-span-6"  >

            <div class="container-login" >
       
                   <div class="w-full img-logo-login">
                       <img class="" src="../../../assets/img/logo.png" />
                   </div>
       
                        <h1  class="text-center font-bold text-4xl tracking-widest mt-3 mb-2">
                           BIENVENIDO
                        </h1>
       
                    <div class="flex justify-center" >
       
       
                        <div class="w-full max-w-lg" >
                        
                           <form >
                               <div class="mt-3 mb-4" >
       
                                   <label  class="block text-3xl mb-2 grid uppercase"  >
                                       USUARIO:
                                   </label>
       
                                   <input 
                                   class="w-full mb-2 p-2 max-w-lg shadow-md apperance-none border rounded w-full"
                                   name="email" 
                                   id="email"
                                   type="text"
                                   [(ngModel)]="body.email"
                                   />
       
                               </div>
       
                              
       
                               <div class="mt-4 mb-4" >
       
                                       <label  class="block text-3xl mb-2 grid uppercase"  >
                                           CONTRASEÑA:
                                       </label>
                               <input 
                                   class="w-full p-2 max-w-lg mb-2 shadow-md apperance-none border rounded w-full" 
                                   type="password"
                                   name="password"
                                   autocomplete="off"
                                   [(ngModel)]="body.password"
                                   (blur)="validateFieldsLogin()"   
                                   />
       
                               </div>
       
                              
       
                               <input type="button"
                                   class="rounded-lg text-white mt-3 w-full p-3 mt-3"
                                   [ngClass]="{'bg-gray-400': btnBlockButtonLogin == true, 'bg-blue-900': btnBlockButtonLogin == false }" 
                                   value="INICIAR SESION"
                                   (click)="login()"
                               />
       
                           </form>
                        </div>
                   </div>   
               </div>
       
       </div>
    
    </section>
</div>

