
<ul class="list-reset flex border-b justify-center mt-6">
    <li class="-mb-px mr-2">
        <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 rounded-xl" routerLink="/usuario/nuevo">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
            </svg>
            F1 Nuevo
        </button>
    </li>
    <li class="mr-2">
        <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 rounded-xl">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
              <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
              <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
            </svg>
            F2 Editar
        </button>
    </li>
    <li class="mr-2">
        <button class="bg-white inline-block py-4 px-3 font-bold text-blue-900 rounded-xl" (click)="deleteUser()" >
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
            F3 Eliminar
        </button>
    </li>
  </ul>


  <app-alert-delete-users  *ngIf="showAlert" ></app-alert-delete-users>