<nav class="grid grid-rows-1 shadow-2xl">
  <div class="grid grid-cols-12 block p-5">
      <div class="col-span-10">
         
        <input type="text" 
            placeholder="BUSCAR UN PRODUCTO..." 
            class="input-search"
            id="txtSearchProduct"
            #inputSearch
            (keyup)="buscarProducto(inputSearch)"
            >
            <div class="container-products" >
              <ul id="productsList" class="list-container" >
                <li class="productsList productsListItem" (click)="addProduct(products)" *ngFor="let products of filterProducts"> {{ products.nombre }}  - {{  products.cantidadActual }} </li>
                <li class="productsList noProducts" *ngIf="filterProducts.length == 0" > No hay productos </li>
              </ul>
            </div>

      </div>

    <div class=" col-span-2 m-auto">
          <!-- <a class="text-blue-900 font-bold text-lg mx-2" > Mensajes </a> -->
          <span className="mx-6 text-xl font-bold"> | </span>
          <a  class="text-red-600 titleExit font-bold text-lg mx-2 cursor-pointer" (click)="logout()"  > Salir </a>
    </div>

  </div>
</nav>  