.input-search{
    width:95%;
    height: 30px;
    margin-left: 40px;
    border-radius: 6px;
    padding: 17px;
}


.titleExit{
    margin-left: 15px;
    font-size: 20px;
}

.list-container{
    text-align: center;
}
.container-products{
    height: 70px;
    overflow: scroll;
}

.productsList{
    margin-top:5px;
    cursor: pointer;
}
.productsListItem{
    width: 80%;
    border-bottom: 1px solid black;
    margin: 0 auto;
}
.noProducts{
    margin-top: 25px;
    color: red;
    font-weight: 600;
}
