<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav></app-nav>
            <div class="grid grid-cols-1 gap-3 ml-3 mt-5">
                <app-nav-products></app-nav-products>
                <div class="col-span-8 p-3 rounded-xl h-90">
                    <div class="bg-blue-900 rounded">
                
                        <div class="grid grid-cols-8">
        
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                #
                            </p> 
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Nombre
                            </p>
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Descripción
                            </p>
        
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Familia
                            </p>
        
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Disponibles
                            </p>
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Precio venta
                            </p>
        
                            <p class="text-white px-2 text-center p-3 font-bold text-base" > 
                                Precio mayoreo
                            </p>
        
                        </div>
                    </div>
    
                    <div class="bg-white grid grid-cols-8" *ngFor="let item of productos; let i = index" >
                        
                        <p class="px-2 text-center p-3 font-bold text-base" > 
                            {{ i +1 }}
                            <input type="checkbox" (click)="setProductWilldelete($event, item._id)" />
                        </p>
                        <!-- <p class="px-2 text-center p-3 font-bold text-base" > 
                        </p> -->
    
                        <p class="px-2 text-center p-2 font-bold text-base" > 
                            {{ item.nombre }}
                        </p>
                        <p class="px-2 text-center p-2 font-bold text-base" > 
                            {{ item.descripcion }}
                        </p>
                        <p class="px-2 text-center p-2 font-bold text-base" > 
                            {{ item.familia }}
                        </p>
                        <p class="px-2 text-center p-2 font-bold text-base" > 
                            {{ item.cantidadActual }}
                        </p>
                        <p class="px-2 text-center p-2 font-bold text-base" > 
                          $  {{ item.precioVenta }} .00
                        </p>
                        <p class="px-2 text-center p-2 font-bold text-base" > 
                            $ {{ item.precioMayoreo }} .00
                        </p>

                        <p class="text-white px-2 text-center p-2 font-bold text-base " [routerLink]="['/productos/editar/producto', item._id]"  > 
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block text-blue-900 cursor-pointer" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                                <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                            </svg>
                        </p>
                    </div>

                </div>
    
            </div>
        </div>
    </div>
</div>
