<div class="grid grid-rows-1">
    <div class="grid grid-cols-7">
        <app-side-bar></app-side-bar>
        <div class="col-span-6">
            <app-nav ></app-nav>
            
            <div class="grid grid-rows-1 mt-6 px-6">
                <app-nav-clientes></app-nav-clientes>
             </div>
            <div class="grid grid-rows-1 px-4 mt-20">

                <div  class="bg-blue-900 rounded-t-lg">
                    
                    <div class="grid grid-cols-12">
                        
                        <div class="grid col-span-1">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                            </p>
                        </div>

                        <div class="">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                            </p>
                        </div>

                        <div class="grid col-span-1">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                ID cliente
                            </p>

                        </div>

                        <div class="grid col-span-3">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Nombre
                            </p>

                        </div>


                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Número
                            </p>

                        </div>

                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Correo
                            </p>

                        </div>


                        <div class="grid col-span-2">
                            <p class="text-white px-2 text-center p-3 font-bold text-base" >
                                Crédito
                            </p>

                        </div>
                    </div>

                </div>
            </div>
            
            <div class="bg-white mx-4 py-2 grid grid-rows-1 grid grid-cols-12"  *ngFor="let client of clients">

                <div class="grid col-span-1 mt-1">
                    <input type="checkbox" class="mx-auto" (change)="addClient($event, client._id)"/>
                </div>

                <div class="">
                    <a class="cursor-pointer text-green-500" (click)="navigateUpdateClient(client._id)">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg>
                        <p class="inline-block ml-3">Editar</p>
                    </a>
                </div>

                <div class="grid col-span-1">
                    <p class="px-2 text-center">
                        {{ client.idCliente }}
                    </p>

                </div>

                <div class="grid col-span-3">
                    <p  class="px-2 text-center"> 
                        {{ client.nombre }}
                    </p>
                </div>

                <div class="grid col-span-2">
                    <p  class="px-2 text-center"> 
                        {{ client.telefono }}
                    </p>
                </div>

                <div class="grid col-span-2">
                    <p  class="px-2 text-center"> 
                        {{ client.correo }}
                    </p>
                </div>

                <div class="grid col-span-2">
                    <p  class="px-2 text-center"> 
                       $ {{ client.limiteCredito }} .00
                    </p>
                </div>
            </div>

            <!-- <div class="text-center bg-white mx-4 py-2" *ngIf="clientsMessage">No hay clientes registrados :(</div> -->

        </div>

    </div>

 </div>

